.header{
background-image: url("img/backHeader.jpg");
background-size: 100% 100%;
} 
header{
background-color: #2B2E4A;
opacity: 0.9;
width: inherit;
height: 750px;
color: #fff;
}
.head{
height: 100px;
width: 100%;
margin: 0 auto;
border-bottom: 2px solid #fff;
}
.headmain{
height: 65%;
padding-right: 0;
}
.headtext{
}
.button{
width: 125px;
height: 55px;
font-size: 12px;
}
.imgkar{
padding-top: 30px;
padding-bottom: 30px;
}
.card-text{
font-size: 12px;
}
.card-title{
font-size: 14px;
font-weight: bold;
}
.divkar{
margin-top: 50px;
}
.fotocards{
}
.img-fotocards{
width: 100%;
height: auto;
}
.footer{
height: auto;
width: 100%;
background-color: #3A3E64;
margin: 0;
margin-top: 50px;
padding: 30px;
}
h6{
font-weight: bold;
}
.footertext{
font-size: 13px;
}
